 .body {
    background-color: rgb(255,255,240);
}

 .title {
    text-align: center;
    font-weight: bold;
    background-color: rgb(2, 0, 65);
    color: rgb(255,255,240);
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

 .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 5rem auto 0 auto;
    flex-wrap: wrap; 
    text-align: center;
}

 #header {
   background-color: rgb(2, 0, 65);
    color: rgb(255,255,240);
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

 .h2 {
    text-align: center;
    color: rgb(255,255,240);
    background-color: rgb(2, 0, 65);
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 60px 60px;
    width: 250px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

 .my-works {
    background-color: rgb(2, 0, 65);
    color: rgb(255,255,240);
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 60px 60px;
    width: 250px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

 .testimonials {
    background-color: rgb(2, 0, 65);
    color: rgb(255,255,240);
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 60px 60px;
    width: 250px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

 .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(2, 0, 65);
}

 .card {
    width: 520px;
    height: 300px; 
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-wrap: wrap;
}

 .card:hover {
    width: 500px; 
    height: 360px; 
    transform: scale(1.1);
    z-index: 1;
}

 .c-link {
    color: rgb(255,255,240);
    text-decoration: none;
}

 .c-link:hover {
    color: teal;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
  
  .container {
    display: grid;
    gap: 10px;
}
  
  .upper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
}
  
  label {
    font-weight: bold;
}
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
  
  .submit-container {
    margin-top: 10px;
}
  
  @media screen and (min-width: 600px) {
    .upper {
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
  @media screen and (min-width: 320px) {
    .form {
      padding: 10px; 
    }
}
  